*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    position: relative;
}
.container-fluid .login
{
    width: 67%;
    height: 500px;
    border: 2px solid #ccc;
    position: absolute;
    top: 20%;
    background-color: white;
    border-radius: 40px;
    transform: translate(24%);
}


.login .logo h1{
    font-size: 50px;
    text-align: center;
 /*   margin-left: 25%;*/
    margin-top: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}

.login input
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 30px;
}
.login input[type=button]
{
    width: 60%;
    height: 40px;
    margin: 0 20%;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: none;
  /*  transform: translate(20%);
    */margin-top: 1%;
}


.empty{
    height: 720px;
}
.empty1
{
    height: 100%;
 
    background-color: #ffcc00;
    z-index: -1;
}
.empty2
{
    height: 100%;

    background-color: #e91d43;
    z-index: -1;
}
.empty .content
{
    margin-top: 35%;

}
.empty h1{
    margin-left: 70px;
    font-size: 80px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}

.empty p{
    color: black;
    font-size: 30px;
    margin-left: 11%;
}
.empty2 p, .empty h1{
    color: transparent;
    margin-left:10%;
}

/*  ========= Validation ========= */

span{
    display: none;
    color: red;
    margin-left: 10%;
    font-size: small;

}

li{
    list-style: none;
    margin-top: 2%;
}
li>p{
    display: inline;
    font-style: italic;
}
